/*  폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-8Heavy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.con {
    margin: 0 auto;
}

.img-box>img {
    width: 100%;
    display: block;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.margin-0-auto {
    margin: 0 auto;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.text-align-center {
    text-align: center;
}

.line-height-0-ch-only {
    line-height: 0;
}

.line-height-0-ch-only>* {
    line-height: normal;
}

.relative {
    position: relative;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* 커스텀 */
/*
.con {
    width:1180px;
}

.con-min-width {
    min-width:1180px;
}
*/



/* 반응형 레이아웃 */
.con {
    max-width: 1120px;
}

.con-min-width {
    min-width: 320px;
}

html,
body {
    overflow-x: hidden;
}


/* .br-story-box (브랜드스토리 > background attchment-fixed) */
.br-story-box {
    margin-top: 110px;
}

.br-story-box>.fixed-img {
    height: 650px;
    background: url(https://i.postimg.cc/x8DwF8Qh/5.jpg) no-repeat center center;
    background-attachment: fixed;
    background-color: red;
    background-size: cover;
}


/*
.br-story-box > .fixed-img::after {
    content: "";
    display: block;
    padding-top:23.43%;
}
*/

.br-story-box {
    position: relative;
}

.br-story-box>.banner-copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.br-story-box>.banner-copy {
    display: block;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;

}

.br-story-box>.banner-copy>h1 {
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: 900;
}

.br-story-box>.banner-copy>h2 {
    font-size: 32px;
    margin-top: 0px;
    letter-spacing: 37px;
    margin-left: 22px;
    font-weight: 300;

}

.br-story-box>.banner-copy>h3 {
    font-size: 26px;
    margin-top: 60px;
    color: #B38936;
    font-weight: 900;
}

.br-story-box>.banner-copy>h4 {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 300;
}

.br-story-box>.banner-copy>a {
    display: block;
    margin-top: 80px;
    text-align: center;
}

.br-story-box>.banner-copy>a>span {
    display: inline-block;
    font-size: 16px;
    border: 2px solid white;
    color: white;
    padding: 2px 8px;
}

/* 애니메이션 효과 */
.appear-slide-top {
    transform: translateY(200%);
    transition: transform 0s, opacity 0s;
    opacity: 0;
}

.appear-slide-top.jhs-appear-active {
    transform: translateY(0);
    transition: transform 0.7s, opacity 0.7s;
    opacity: 1;
}